<!DOCTYPE html>
<html>
<head>
  <title>FractalBot</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        <div id="contents">
            <canvas id="canvas" width="460" height="460">
            </canvas>
        </div>
<%= yield %>


</body>
</html>

